/* @import url(style.css); */

* {
  margin: 0;
  padding: 0;
  font-family: "Bruno Ace SC", cursive;

}


:root {
    --footer-box-shadow: 0px 0px 10px 0px #ebb41c;
    /* --hr-shadow: 7px 7px 2px #30f2c2; */
    --hr-shadow: 7px 7px 2px #ebb41c;
  }


body {
  background-image: url("Static/assets/restaurant.jpg");
  

  background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.687)),
    url("Static/assets/restaurant.jpg");


    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background image fixed */

}

/* ---------------------------------------------------------------------------------- */

.container {
  width: 85vw;
  margin: auto auto;
}

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* color: #FFFFFF; */
}

/* .section-background h1{
    font-size: 10em;
    text-align: center;
    } */

.parallax01 {
  background-image: url('Static/assets/dish1.jpeg');
  height: 80vh;
}

.parallax02{
    background-image: url("Static/assets/chef.jpg");
    height: 80vh;
}


/* ---------------LOGO ANIMATION UNDERLINE----------------- */
.logo-heading {
  
  position: relative;
  cursor: pointer;
}

.logo-heading::before {
  content: "";
  position: absolute;
  background: #ebb41c;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .4s ease-out;
}

.logo-heading:hover::before {
  transform: scaleX(1);
}

/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-----NAVBAR---------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

nav {
  display: flex;
  /* background-color: #000000b7; */
  background-color: #000000b0;
  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  /* height: 8vh; */
height: 12vh;
}

.nav_cont {
  /* width: 85vw; */
  width: 100%;
  margin: 10vh auto 0vh auto; /* Center the container horizontally */

  /* position: sticky; */
  /* top: 5vh; */
}

.nav_items {
  color: white;
}

.nav_items ul {
  list-style: none;
  display: flex;
}

.nav_items li {
  padding: 10px 10px;
  font-size: larger;
  text-decoration: none;
  border-radius: 35px;

  border: 1px solid transparent;
  color: #fff;
  transition: 0.3s ease;
}

.nav_items a {
  color: #fff;
  text-decoration: none;
}

.nav_items li:hover {
  border: 1px solid #ebb41c;
  border-radius: 35px;
  cursor: pointer;
}

.logo h1 {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2em;}

.logo a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.navdiv {
  margin: 0px 1vw;
}

/* -x-x-x-x-x-x-x-x-x-x-x-x-x-----OUR-Story----x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

.our-story {
  /* width: 85vw; */
  color: #fff;
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* margin: 0vh auto 0vh auto; Center the container horizontally */
  background-color: #000000b0;
  /* border-top: 2px solid white; */
  border-top: 2px solid #ebb41c ;
  padding: 50px 200px;
  border-bottom: 2px solid #ebb41c;
  text-align: center;
}

.our-story h1{
    font-size: 2em;
    margin-bottom: 1rem;
}

/* -x-x-x-x-x-x-x-x-x-x-x---------In Kitchen-------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

.in-kitchen {
  /* width: 85vw; */
  color: #fff;
  /* margin: 0vh auto 0vh auto; Center the container horizontally */
  background-color: #000000b0;
  /* border-top: 2px solid white; */
  border-top: 2px solid #ebb41c;
  padding: 50px 200px;
  border-bottom: 2px solid #ebb41c;
  text-align: center;

  margin-top: 1vh;
  margin-bottom: 1vh;

}

.in-kitchen h1{
    font-size: 2em;
    margin-bottom: 1rem;

}


/* -------------------------SIDE ICONS---------------------------------------------------- */

.side-icons {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    bottom: 5vh;
    width: 3vw;
    position: sticky;
  }
  
  .side-icons li {
    padding-bottom: 15px;
  }

  .social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ebb41c;
}



/* -------------------Above Footer------------------------------------- */

  .nav-links {
    margin-top: 1vh;
    border-top: 2px solid #ebb41c;
    /* display: none; */
    background-color: #0000009c;
    list-style: none;
    text-decoration: underline transparent;
    display: flex;
    justify-content: space-between;
    padding: 2vh 15vw;
    transition: 0.5s ease;
  }
  
  .nav-links hr {
    box-shadow: var(--hr-shadow);
  }
  
  .nav-links a {
    text-decoration: none;
  }
  
  .nav-links li h3 {
    color: #fff;
    text-decoration: underline 2px solid transparent;
    transition: 0.4s ease;
  }
  
  .nav-links li h3:hover {
    /* color: yellow; */
    /* text-decoration: underline 2px solid white; */
    text-decoration: underline 2px solid #ebb41c;
  }
  


/* -x-x-x-x-x-x-x-x-x-------FOOTER----------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */


footer {
    margin: 0;
    /* width: 80vw; */
    /* background-color: #000000e1; */
    background-color: #0000009c;
    color: #fff;
    text-align: center;
    padding: 4vh 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .box {
    /* border: 2px solid yellow; */
    box-shadow: var(--footer-box-shadow);
    border-radius: 20px;
    padding: 10px 40px;
  }
  
  .box h2 {
    text-align: left;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  /* .social-icons i{
      border: 1px solid red;
      height: 20px;
      width: 20px;
  } */
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #ebb41c;
  }
  

